
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @post.title %></h3>
  </div>
  <div class="panel-body">
    <p><%= @post.description %></p> 
    <p>
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      <%= link_to "Link", @post.link,  target: "_blank" %>
  </p>
  </div>
</div>



<% if user_signed_in? %>
  <div class="btn-group" role="group"><%= link_to "Home", posts_path, class: "btn btn-default btn-sm" %>
    <%= link_to "Edit", edit_post_path, class: "btn btn-default btn-sm" %>
    <%= link_to "Delete", post_path, method: :delete,
      data: { confirm: 'You sure?' },
      class: "btn btn-default btn-sm" %>
  </div>
<% end %>
