<h1>Post</h1>

<%= @post.title %><br>
<%= @post.description %><br>
<%= @post.link %><br>

<div class="btn-group" role="group"><%= link_to "Home", posts_path, class: "btn btn-default btn-sm" %>
<%= link_to "Edit", edit_post_path, class: "btn btn-default btn-sm" %>
  <%= link_to "Delete", post_path, method: :delete,
    data: { confirm: 'You sure?' },
    class: "btn btn-default btn-sm" %>
</div>
